@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  padding: 10px 20px;
}

ul li a {
  text-decoration: none;
  color: #777;
  transition: color 300ms;
}

ul li a:hover {
  color: #ff4040;
}

.active {
  color: #ff4040;
  font-weight: bold;
}

.banner img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

footer {
  background: #999;
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  margin: 0;
}
