@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  padding: 10px 20px;
}

ul li a {
  text-decoration: none;
  color: #777;
  transition: color 300ms;
}

ul li a:hover {
  color: #ff4040;
}

.active {
  color: #ff4040;
  font-weight: bold;
}

.banner {
  margin-top: -160px;
}

.banner img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

section.concept {
  max-width: 960px;
  width: 100%;
  margin: 60px auto;
}

section.concept p {
  line-height: 24px;
}

section.concept .songs {
  margin-top: 0 auto;
  overflow: hidden;
}

section.concept .songs .draw img {
  display: block;
  float: left;
  max-width: 50%;
  width: 100%;
}

section.concept .songs .list {
  padding-top: 40px;
  font-size: 18px;
  padding-left: calc(50% + 32px);
  display: block;
  line-height: 48px;
}

span.orange {
  color: #f9a826;
  font-weight: bold;
}

footer {
  background: #ccc;
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  margin: 0;
}
